__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
.env
.env.*
!.env.example
.DS_Store
*.tmp
*.temp
*.log
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
Thumbs.db

.qodo/
db.sqlite3
staticfiles/
